div.hidden {
  display: none;
}

div.active {
  border: 5px solid blue;
}

div.inactive {
  display:none;
}

ul li{
  display: inline;
}

img.bigcoin {
  width: 75px;
}

img.smallcoin {
  width: 75px;
}

img#callcoin {
  opacity:0.25;
}
